# Port de l'application
PORT=3000

# URL de connexion Redis (utilisez l'une des deux variables)
# Format: redis://[username]:[password]@[host]:[port]
REDIS_URL=redis://localhost:6379
# OU
STORAGE_REDIS_URL=redis://localhost:6379

